

body {
    margin: 0;
    text-align: center; 
    font-size: large; 
    padding:5px;
 
}

header{
    background-image: url("images/sphinx.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    padding: 20px;
    color: azure;
    text-shadow: 0px 0px 3px black;
    font-family: "Orbitron", sans-serif; 
    

}

.title{
    background-color: bisque;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 20px auto;
    font-family: "Orbitron", sans-serif; 
    max-width: 500px;
}


.activities{
    display: flex;
    flex-direction: column;
    align-items: center;
    background:linear-gradient(lightblue, white);
}

.list{
    text-align: left;
    margin: 10px;
    padding: 5px 20px;
 
    font-size: larger;
    
}

#gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: center;

 
}

.card{
 max-width: 300px;
padding: 5px;
text-align: center;
margin: 10px;
}

img {
    border: 2px solid white;
    border-radius: 50%;
   
 
}

.contact{
    display: flex;
    justify-content: center;
    background:linear-gradient(lightblue, white);
    border: 5px whitesmoke solid;
    padding:30px;
    font-family: "Orbitron", sans-serif; 
    width: 500px;
    margin: 10px auto;
}


  .contact img{
    border-radius: 5px;
    margin-right: 10px;
 
  
 
}  